{% extends 'home/base.html'%}
{% block content %}
<style>
  div a{
    font-size: 16px;
  }
</style>
  <!-- content -->
  <div style="height: 20px;"></div>
  <center>
  <div style="width:1000px; font-size: 16px;">
    <h5 class="center">About Poshan Vatika</h5>
    <p>Posha Vatika means that small piece of land where the people of the house grow vegetables to make sure that all in the family specially children and women should not become victim of mal-nutrition. The main objective is to ensure supply of nutrition through organically home grown vegetables and fruits simultaneously ensuring that the soil must also remain healthy.</p>
    <p>CommunityGIS is a platform for community for a spatial data infrastructure. This consists of frontend described below and backend which is geonode (visit).Primary objective of communitygis is to provide educational platform for learners to learn about spatial information and learn how these modern tools can be used to solve real life problems. As a platform it is for people who range from those who can contribute data (mobile based point data collection to digitization of published maps) to those who can analyse the data to infer useful social knowledge. It is a digital way to collect, aggregate , access , analyse data and finally provide decision support to the community manipulate reality.

      Since all source code is published hereby (for frontend) , under GPL, any one can reproduce the technology , without any permission from makerGHAT. The data sources are Census of India and GISE Lab of CSE deptt , IIT Bombay. This website has been created by volunteers and coordinated by www.makerghat.org<a href="http://makerghat.org">(visit)</a> This is inspired by ideas as in 'p2p governance' of Bowens<a href="https://blog.p2pfoundation.net/about">(know more)</a> and Third Pillar <a href="https://www.penguinrandomhouse.com/books/566369/the-third-pillar-by-raghuram-rajan/9780525558316/">(click here)</a> of Dr Raghuram Rajan.</p>
      <div style="font-size: 14px;">
      <p><b>Domain lead</b> : Sahayak Trust</p>
      <p><b>Technology partner</b>: CTARA IIT, Mumbai<br>
      Site design team: Anchal Purbey, Dnyaneshwor Sanap<br>
      Code developers: Animesh Nautiyal, Monika Shah, Prachi Shukla<br>
      Evangelist : Arshee
      <p><b>Overall Guidance</b> : Dr Satish Agnihotri supported by Prof. Jitendra Shah</p></div>
  </div></center>
{% endblock %}