{% extends 'home/base.html'%}
{% block content %}

  <!-- content -->
  <div style="height: 20px;"></div>
  
  <div class="container" style="width:1000px; font-size: 16px; align-items: center;">
    <h5 class="center">Instructions to use the pre-designed template</h5>
    <p>The pre-designed template consists of questions to which you can respond and after filling the form, the details of your nutri-garden interventions will be displayed in the map when you hover to your intervention locations.</p>
    
    <p>The pre-designed template will provide the information on the organization or individual specifying the locations of their nutri-garden interventions, type of nutri-garden-whether at household level, community level or at school or anganwadi centre, level, scale, area of nutri-garden. This general information will help in reaching out to the nearest nutri-garden intervention sites.</p>
    
    <p>The template will also capture the information on the types of seeds used, seasonal and perennial vegetables and fruits grown. This information will be helpful in providing the idea of seeds/fruits/vegetables that one can opt in a similar location.</p>
    
    <p>The template also captures the information on average output from nutri-garden for self-consumption, selling surplus as well as expenses incurred in setting up the nutri-garden. This information will largely be helpful to do a cost benefit analysis for those interested in the nutri-garden intervention in their areas.</p>
    
    <p>The template captures the details on nutri-garden intervention strategies such as irrigation, cultivation methods and practices. This information will be useful in tackling the methodological questions related to setting up the nutri-garden</p>
    
    <p>A section is also dedicated to the nutri-garden interventions at the school. This would be useful for policy makers to scale up the similar interventions at other institutional sites.</p>
    
    <p>If you wish to fill the form, please choose the <a href="https://ee.kobotoolbox.org/x/vHVD3HnV" style="font-size: 15px;">pre-designed Template</a> </p>
    
    <p>You may also choose to fill only the sections that are relevant to you</p>
    
    <p>If you don’t prefer to use this template at all, you can also upload your intervention in the following formats:</p>
    <p> Under the resources-
      <ol> <li>Upload videos/YouTube links</li>
    <li>Upload your published/unpublished article on nutri-garden intervention</li>
    <li>Upload a brief write-up in the description box</li></ol>
  </p>
    <!-- You can also opt to create your own form here. You may refer to the factsheets from the sample map or the pre-defined template above.<br> -->
    
    </p>
   

  </div>

{% endblock %}