{% extends 'home/base.html'%}
{% load static%}
{% block content %}

<head>  <link type="text/css" href="{% static 'home/css/style.css' %}" rel="stylesheet">
<style>
   #form{
      width:40%;
    }
    #form label{
      color: black;
      font-size: 18px;
    }
  
  
</style>
</head>

  <!-- add  side nav -->
  <div id="side-form" class="">
    <div >
      <form style="width: 100%; padding-left:3%; padding-right:3%;" id ='form' class="container section" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <label for="img" id="selectimg" style="font-size:14px; padding-right:20px;">Browse image from your device:</label>
        <input type="file"  accept="image/*" name="picture" id="file"  onchange="loadFile(event)" required>
        <p><img id="output" width="300"/></p>

                  <script>
                  var loadFile = function(event) {
                    var image = document.getElementById('output');
                    image.src = URL.createObjectURL(event.target.files[0]);
                    document.getElementById("selectimg").style.display="none";
                  };
                  </script>
{% comment %}
<div class="input-field">
  <input placeholder="Enter your name" id="name" type="text" name="name" required>
    <label for="title">Your Name</label>
  </div> 
  <input placeholder="Enter your Contact Number" id="contact" type="text" name="contact" required>
    <label for="title">Your Contact Number</label>
  </div>          
  <div class="input-field">
    <input placeholder="Enter the name of the seed" id="seed_nm" type="text" name="seed_nm">
    <label for="title">Name of the seed</label>
  </div>
  
  <div class="input-field">
    <input placeholder="Village where seed is found" id="village" type="text" name="village" required>
    <label for="title">Village</label>
  </div>  
  <div class="input-field">
    <input placeholder="Enter the district name" id="district" type="text" name="district" required>
    <label for="title">District</label>
  </div>  
  <div class="input-field">
    <input placeholder="Enter state name" id="state" type="text" name="state" required>
    <label for="title">State</label>
  </div>  
  <div class="input-field">
    <input placeholder="Enter your pincode" id="pincode" type="text" name="pincode" required>
    <label for="title">Pincode</label>
  </div>    

  <div class="input-field">
    <input placeholder="Allow location access to capture your location" id="lat" type="text" name="lat" readonly="readonly" required>
    <label for="title">Latitude</label>
  </div>
  <div class="input-field">
    <input placeholder="Allow location access to capture your location" id="long" type="text" name="long" readonly="readonly" required>
    <label for="title">Longitude</label>
  </div>
  {% endcomment %}
  <div class='row'>
    <div class='input-field col s12'>
     <span style="float: left; color: black;"><span class="red-star">★</span>Your Name: </span>
     <input type="text" class="fieldlabels" placeholder=" Name" name="name" id="name" required>  
    </div>
  </div>
  <div class='input-field col s12'>
    <span style="float: left; color: black;"><span class="red-star">★</span>Your Contact Number: </span>
    <input type="text" class="fieldlabels" placeholder=" Contact Number" name="contact" id="contact" required>  
    </div>
  
  <div class='row'>
    <div class='input-field col s12'>
     <span style="float: left; color: black;" ><span class="red-star">★</span>Name of the Seed  : </span>
     <input type="text" class="fieldlabels" placeholder=" Seed Name" name="seed_nm" id="seed_nm" required>
      
    </div>
  </div>
  <div class='row' >
    <div class='input-field col s12'>
      <span style="float: left; color: black;"><span class="red-star">★</span>Name of Village: </span>
      <input type="text" class="fieldlabels" placeholder=" Village Name" name="village" id="village" required> 
    </div> 
  </div>
  <div class='row' >
    <div class='input-field col s12'>
      <span style="float: left; color: black;"><span class="red-star">★</span>Name of  District: </span>
      <input type="text" class="fieldlabels" placeholder=" District Name" name="district" id="district " required> 
    </div>
  </div>
  <div class='row' >
    <div class='input-field col s12'>
      <span style="float: left; color: black;"><span class="red-star">★</span>Name of State : </span>
      <input type="text" class="fieldlabels" placeholder=" State Name" name="state" id="state " required> 
    </div>
  </div>
  <div class='row' >
    <div class='input-field col s12'>
      <span style="float: left; color: black;"><span class="red-star">★</span>Enter Pincode  : </span>
      <input type="text" class="fieldlabels" placeholder=" Pincode"  name = "pincode" id = "pincode" required></td>
    </div>
   
  </div>
  <div class='row' >
    <div class='input-field col s12'>
      <span style="float: left; color: black;"><span class="red-star">★</span>Latitude : </span>
      <input id="lat" type="text" name="lat" class="fieldlabels" placeholder="Enter Latitude"   required>
    </div>
  </div>

  <div class='row' >
    <div class='input-field col s12'>
      <span style="float: left; color: black;"><span class="red-star">★</span>Longitude : </span>
      <input id="lng" type="text" name="lng" class="fieldlabels" placeholder="Enter Longitude" required>
    </div>
  </div>
  

  <div class="input-section center">
  <a id="location-btn" class="waves-effect waves-light btn-small" style=" background-color: #4CAF50; visibility: hidden;">Get Location</a>

    <div class="preloader-wrapper small active" id="location-loader">
      <div class="spinner-layer spinner-green-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>

  </div>
        
        <div class="input-field center">
          <button class="btn-small" type="submit" name="action" style=" background-color: #4CAF50;">Submit</button>
        </div>
        
      </form>
      <script>
        window.onload = function(){
  document.getElementById('location-btn').click();
}
      </script>
      <script>

        $(function() {
           $("input[name='afif']").click(function() {
             if ($("#chkno").is(":checked")) {
               $("#text").show();
             } else {
               $("#text").hide();
             }
           });
         });
      
         $(function() {
           $("input[name='ifAFIF']").click(function() {
             if ($("#afifyes").is(":checked")) {
               $("#afiftext").show();
             } else {
               $("#afiftext").hide();
             }
           });
         });
      
         $(function() {
           $("input[name='prodCompany']").click(function() {
             if ($("#chkyes").is(":checked")) {
               $("#yesComp").show();
             } else {
               $("#yesComp").hide();
             }
           });
         });
      
         $(function() {
           $("input[name='surplus']").click(function() {
             if ($("#chkdyes").is(":checked")) {
               $("#surplusyes").show();
             } else {
               $("#surplusyes").hide();
             }
           });
         });
        </script>
    </div>


    <div class="center">
      <a class="btn-floating btn-small btn-large close-btn">
        <i class="material-icons" style=" background-color: #4CAF50;">close</i>
      </a>
    </div>
  </div>
 
 {% block javascript %}
{% if messages %}
{% for message in messages %}
    
{% if messages %}
{% for message in messages %}
  <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endblock javascript %}
{% endblock %}

  
